/* line 12, ../../../app/stylesheets/admin.scss */
body {
  background-color: #f9f9f9;
  font-size: 14px;
}

/* line 16, ../../../app/stylesheets/admin.scss */
h1 {
  font-size: 1.6em;
}

/* line 17, ../../../app/stylesheets/admin.scss */
h2 {
  font-size: 1.4em;
}

/* line 18, ../../../app/stylesheets/admin.scss */
h3 {
  font-size: 1.3em;
}

/* line 19, ../../../app/stylesheets/admin.scss */
h4 {
  font-size: 1.2em;
}

/* line 20, ../../../app/stylesheets/admin.scss */
h5 {
  font-size: 1.1em;
}

/* line 21, ../../../app/stylesheets/admin.scss */
a, a:visited {
  color: #21759b;
}

/* line 22, ../../../app/stylesheets/admin.scss */
a:hover, a:active, a:focus {
  color: #d54e21;
}

/* line 23, ../../../app/stylesheets/admin.scss */
.ltr_border {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
}

/* line 28, ../../../app/stylesheets/admin.scss */
.lr_border {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
}

/* line 32, ../../../app/stylesheets/admin.scss */
.lbr_border {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

/* line 37, ../../../app/stylesheets/admin.scss */
.full_border {
  border: 1px solid #bbbbbb;
}

/* line 40, ../../../app/stylesheets/admin.scss */
.add_margin {
  margin-bottom: 12px;
}

/* line 43, ../../../app/stylesheets/admin.scss */
#top_bar {
  background-color: #464646;
  padding: 8px;
  overflow: auto;
}
/* line 47, ../../../app/stylesheets/admin.scss */
#top_bar a {
  color: #e4e4e4;
}
/* line 50, ../../../app/stylesheets/admin.scss */
#top_bar h1 {
  float: left;
}
/* line 52, ../../../app/stylesheets/admin.scss */
#top_bar h1 a {
  color: #ddd;
}
/* line 55, ../../../app/stylesheets/admin.scss */
#top_bar h1 a:visited {
  color: #ddd;
}
/* line 59, ../../../app/stylesheets/admin.scss */
#top_bar #info {
  float: right;
}

/* line 64, ../../../app/stylesheets/admin.scss */
#navigation {
  margin: 0;
  padding: 8px;
  width: 145px;
  float: left;
}
/* line 69, ../../../app/stylesheets/admin.scss */
#navigation li {
  background-color: #e4e4e4;
  padding: 6px;
}
/* line 74, ../../../app/stylesheets/admin.scss */
#navigation .lonely_link {
  border: 1px solid #bbbbbb;
}
/* line 77, ../../../app/stylesheets/admin.scss */
#navigation .first_link {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
/* line 83, ../../../app/stylesheets/admin.scss */
#navigation .inside_link {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #f9f9f9;
}
/* line 89, ../../../app/stylesheets/admin.scss */
#navigation .last_link {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #f9f9f9;
}
/* line 95, ../../../app/stylesheets/admin.scss */
#navigation .navigation_separator {
  background-color: transparent;
}

/* line 100, ../../../app/stylesheets/admin.scss */
#content {
  margin: 0 8px 0 163px;
  padding-top: 8px;
  overflow: auto;
}

/* line 105, ../../../app/stylesheets/admin.scss */
#main_content {
  width: 100%;
  float: left;
  clear: left;
  margin-right: -400px;
}
/* line 110, ../../../app/stylesheets/admin.scss */
#main_content #main_content_body, #main_content #comments {
  margin-right: 260px;
  margin-bottom: 12px;
}
/* line 115, ../../../app/stylesheets/admin.scss */
#main_content table .author_row {
  width: 30%;
}

/* line 121, ../../../app/stylesheets/admin.scss */
#third_column {
  width: 245px;
  float: right;
  position: relative;
  clear: right;
  display: block;
}

/* line 129, ../../../app/stylesheets/admin.scss */
#post_main #post_header {
  background-color: #e4e4e4;
  padding: 4px;
}
/* line 132, ../../../app/stylesheets/admin.scss */
#post_main #post_header select, #post_main #post_header label {
  float: right;
}
/* line 135, ../../../app/stylesheets/admin.scss */
#post_main #post_header label {
  padding-top: 2px;
  padding-right: 4px;
}
/* line 140, ../../../app/stylesheets/admin.scss */
#post_main #body {
  background-color: #e4e4e4;
}
/* line 142, ../../../app/stylesheets/admin.scss */
#post_main #body textarea {
  margin-left: 3px;
}
/* line 146, ../../../app/stylesheets/admin.scss */
#post_main #post_footer {
  background-color: #e4e4e4;
  padding: 4px;
}

/* line 151, ../../../app/stylesheets/admin.scss */
.box_header {
  background-color: #e4e4e4;
  padding: 6px;
}

/* line 155, ../../../app/stylesheets/admin.scss */
.box_body {
  padding: 6px;
}

/* line 158, ../../../app/stylesheets/admin.scss */
.box_footer {
  padding: 6px;
}

/* line 161, ../../../app/stylesheets/admin.scss */
.tc_box {
  margin: 0 0 12px 0;
}
/* line 164, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body {
  padding: 6px;
  overflow: auto;
}
/* line 168, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul li {
  list-style-type: none;
}
/* line 170, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul li input {
  float: left;
  margin-right: 3px;
}
/* line 176, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul #publish_form input {
  float: none;
}
/* line 179, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul #publish_form .awesome_button {
  float: right;
  margin-top: 5px;
}
/* line 183, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul #publish_form #date_date, .tc_box .tc_body ul #publish_form #date_hour, .tc_box .tc_body ul #publish_form #date_minute {
  width: 1.4em;
}
/* line 186, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul #publish_form #date_year {
  width: 2.8em;
}
/* line 192, ../../../app/stylesheets/admin.scss */
.tc_box .tc_footer {
  padding: 6px;
}

/* line 197, ../../../app/stylesheets/admin.scss */
table {
  width: 100%;
  border: 1px solid #bbbbbb;
}
/* line 200, ../../../app/stylesheets/admin.scss */
table caption {
  margin-left: 8px;
  background-color: #bbbbbb;
  padding: 3px;
  width: 16%;
  text-align: center;
}
/* line 208, ../../../app/stylesheets/admin.scss */
table tr th {
  background-color: #e4e4e4;
  color: #333333;
  padding: 5px 0;
}
/* line 213, ../../../app/stylesheets/admin.scss */
table tr td {
  padding-top: 4px;
  vertical-align: top;
  padding-bottom: 2px;
}
/* line 218, ../../../app/stylesheets/admin.scss */
table tr .first_column {
  padding-left: 5px;
}
/* line 223, ../../../app/stylesheets/admin.scss */
table .border_bottom td {
  border-bottom: 1px solid #e4e4e4;
}
/* line 227, ../../../app/stylesheets/admin.scss */
table .odd {
  background-color: #f9f9f9;
}
/* line 230, ../../../app/stylesheets/admin.scss */
table .even {
  background-color: white;
}
/* line 233, ../../../app/stylesheets/admin.scss */
table .pagination_links {
  text-align: center;
  background-color: #e4e4e4;
  height: 26px;
}
/* line 238, ../../../app/stylesheets/admin.scss */
table .pagination_links .pagination_info {
  float: right;
  padding-right: 12px;
  padding-top: 2px;
}
/* line 244, ../../../app/stylesheets/admin.scss */
table .actions {
  font-size: .9em;
  margin-top: 2px;
}
/* line 247, ../../../app/stylesheets/admin.scss */
table .actions form {
  float: left;
  margin-right: 6px;
}
/* line 250, ../../../app/stylesheets/admin.scss */
table .actions form input {
  padding: 1px 2px;
}

/* line 257, ../../../app/stylesheets/admin.scss */
.pagination a, .pagination span, .pagination em {
  padding: 3px 6px;
  border: 1px solid #BBBBBB;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px;
  background-color: #f9f9f9;
  text-decoration: none;
}

/* line 269, ../../../app/stylesheets/admin.scss */
#main_content form #post_body {
  width: 99%;
  height: 125px;
}
/* line 273, ../../../app/stylesheets/admin.scss */
#main_content form #post_footer {
  overflow: auto;
}
/* line 275, ../../../app/stylesheets/admin.scss */
#main_content form #post_footer input {
  float: right;
  background: -moz-linear-gradient(center top, #007daa, #00698f) repeat scroll 0 0 transparent;
  color: white;
  border: 1px solid #00a1db;
}

/* line 286, ../../../app/stylesheets/admin.scss */
#footer {
  clear: both;
}
