/* line 12, ../../../app/stylesheets/admin.scss */
body {
  background-color: #f9f9f9;
  font-size: 14px;
}

/* line 16, ../../../app/stylesheets/admin.scss */
h1 {
  font-size: 1.6em;
}

/* line 17, ../../../app/stylesheets/admin.scss */
h2 {
  font-size: 1.4em;
}

/* line 18, ../../../app/stylesheets/admin.scss */
h3 {
  font-size: 1.3em;
}

/* line 19, ../../../app/stylesheets/admin.scss */
h4 {
  font-size: 1.2em;
}

/* line 20, ../../../app/stylesheets/admin.scss */
h5 {
  font-size: 1.1em;
}

/* line 21, ../../../app/stylesheets/admin.scss */
a, a:visited {
  color: #21759b;
}

/* line 22, ../../../app/stylesheets/admin.scss */
a:hover, a:active, a:focus {
  color: #d54e21;
}

/* line 23, ../../../app/stylesheets/admin.scss */
.ltr_border {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
}

/* line 28, ../../../app/stylesheets/admin.scss */
.lr_border {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
}

/* line 32, ../../../app/stylesheets/admin.scss */
.lbr_border {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

/* line 37, ../../../app/stylesheets/admin.scss */
.full_border {
  border: 1px solid #bbbbbb;
}

/* line 40, ../../../app/stylesheets/admin.scss */
.add_margin {
  margin-bottom: 12px;
}

/* line 43, ../../../app/stylesheets/admin.scss */
.boxed {
  background-color: #e4e4e4;
  border: 1px solid #bbbbbb;
}

/* line 47, ../../../app/stylesheets/admin.scss */
.full_box {
  padding: 7px;
}

/* line 52, ../../../app/stylesheets/admin.scss */
.good_forms form div {
  margin: 8px 0;
}
/* line 54, ../../../app/stylesheets/admin.scss */
.good_forms form div label {
  width: 15%;
  float: left;
  text-align: right;
  padding-right: 6px;
}
/* line 61, ../../../app/stylesheets/admin.scss */
.good_forms form .submit_button {
  margin-left: 16%;
  background: -moz-linear-gradient(center top, #007daa, #00698f) repeat scroll 0 0 transparent;
  color: white;
  border: 1px solid #00a1db;
  padding: 4px 5px;
}
/* line 71, ../../../app/stylesheets/admin.scss */
.good_forms .user_actions form {
  float: left;
  margin-right: 8px;
}

/* line 77, ../../../app/stylesheets/admin.scss */
#top_bar {
  background-color: #464646;
  padding: 8px;
  overflow: auto;
}
/* line 81, ../../../app/stylesheets/admin.scss */
#top_bar a {
  color: #e4e4e4;
}
/* line 84, ../../../app/stylesheets/admin.scss */
#top_bar h1 {
  float: left;
}
/* line 86, ../../../app/stylesheets/admin.scss */
#top_bar h1 a {
  color: #ddd;
}
/* line 89, ../../../app/stylesheets/admin.scss */
#top_bar h1 a:visited {
  color: #ddd;
}
/* line 93, ../../../app/stylesheets/admin.scss */
#top_bar #info {
  float: right;
}

/* line 98, ../../../app/stylesheets/admin.scss */
#navigation {
  margin: 0;
  padding: 8px;
  width: 145px;
  float: left;
}
/* line 103, ../../../app/stylesheets/admin.scss */
#navigation a {
  display: block;
  padding: 6px;
}
/* line 107, ../../../app/stylesheets/admin.scss */
#navigation li {
  background-color: #e4e4e4;
  padding: 0;
}
/* line 111, ../../../app/stylesheets/admin.scss */
#navigation li ul li {
  list-style-type: none;
  background-color: #f9f9f9;
  border-top: 1px solid #e4e4e4;
}
/* line 115, ../../../app/stylesheets/admin.scss */
#navigation li ul li a {
  padding: 2px 0 2px 10px;
}
/* line 121, ../../../app/stylesheets/admin.scss */
#navigation .lonely_link {
  border: 1px solid #bbbbbb;
}
/* line 124, ../../../app/stylesheets/admin.scss */
#navigation .first_link {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
/* line 130, ../../../app/stylesheets/admin.scss */
#navigation .inside_link {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #f9f9f9;
}
/* line 136, ../../../app/stylesheets/admin.scss */
#navigation .last_link {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #f9f9f9;
}
/* line 142, ../../../app/stylesheets/admin.scss */
#navigation .navigation_separator {
  background-color: transparent;
  height: 12px;
}

/* line 148, ../../../app/stylesheets/admin.scss */
#content {
  margin: 0 0 0 165px;
  padding: 8px;
  overflow: auto;
}

/* line 153, ../../../app/stylesheets/admin.scss */
#main_content {
  width: 100%;
  float: left;
  clear: left;
  margin-right: -400px;
}
/* line 158, ../../../app/stylesheets/admin.scss */
#main_content #main_content_body, #main_content #comments {
  margin-right: 260px;
  margin-bottom: 12px;
}
/* line 163, ../../../app/stylesheets/admin.scss */
#main_content table .author_row {
  width: 30%;
}
/* line 168, ../../../app/stylesheets/admin.scss */
#main_content form #post_body {
  width: 99%;
  height: 125px;
}
/* line 172, ../../../app/stylesheets/admin.scss */
#main_content form #box_footer {
  overflow: auto;
}
/* line 174, ../../../app/stylesheets/admin.scss */
#main_content form #box_footer input {
  float: right;
  background: -moz-linear-gradient(center top, #007daa, #00698f) repeat scroll 0 0 transparent;
  color: white;
  border: 1px solid #00a1db;
}

/* line 183, ../../../app/stylesheets/admin.scss */
.new_obj_link {
  float: right;
}

/* line 186, ../../../app/stylesheets/admin.scss */
#third_column {
  width: 245px;
  float: right;
  position: relative;
  clear: right;
  display: block;
}

/* line 194, ../../../app/stylesheets/admin.scss */
#post_main #post_header {
  background-color: #e4e4e4;
  padding: 4px;
}
/* line 197, ../../../app/stylesheets/admin.scss */
#post_main #post_header select, #post_main #post_header label {
  float: right;
}
/* line 200, ../../../app/stylesheets/admin.scss */
#post_main #post_header label {
  padding-top: 2px;
  padding-right: 4px;
}
/* line 205, ../../../app/stylesheets/admin.scss */
#post_main #body {
  background-color: #e4e4e4;
}
/* line 207, ../../../app/stylesheets/admin.scss */
#post_main #body textarea {
  margin-left: 3px;
}
/* line 211, ../../../app/stylesheets/admin.scss */
#post_main #box_footer {
  background-color: #e4e4e4;
  padding: 4px;
}

/* line 216, ../../../app/stylesheets/admin.scss */
.box_header {
  background-color: #e4e4e4;
  padding: 6px;
}

/* line 220, ../../../app/stylesheets/admin.scss */
.box_body {
  padding: 6px;
}

/* line 223, ../../../app/stylesheets/admin.scss */
.box_footer {
  padding: 6px;
}

/* line 226, ../../../app/stylesheets/admin.scss */
.tc_box {
  margin: 0 0 12px 0;
}
/* line 229, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body {
  padding: 6px;
  overflow: auto;
}
/* line 233, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul li {
  list-style-type: none;
}
/* line 235, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul li input {
  float: left;
  margin-right: 3px;
}
/* line 241, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul #publish_form input {
  float: none;
}
/* line 244, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul #publish_form .awesome_button {
  float: right;
  margin-top: 5px;
}
/* line 248, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul #publish_form #date_date, .tc_box .tc_body ul #publish_form #date_hour, .tc_box .tc_body ul #publish_form #date_minute {
  width: 1.4em;
}
/* line 251, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body ul #publish_form #date_year {
  width: 2.8em;
}
/* line 256, ../../../app/stylesheets/admin.scss */
.tc_box .tc_body #remove_shortened_url {
  border: none;
  background: url("/images/icons/decline.png") no-repeat center center;
  text-indent: -9999px;
  float: right;
  height: 16px;
  width: 16px;
}
/* line 265, ../../../app/stylesheets/admin.scss */
.tc_box .tc_footer {
  padding: 6px;
}

/* line 270, ../../../app/stylesheets/admin.scss */
table {
  width: 100%;
  border: 1px solid #bbbbbb;
}
/* line 273, ../../../app/stylesheets/admin.scss */
table caption {
  margin-left: 8px;
  background-color: #bbbbbb;
  padding: 3px;
  width: 16%;
  text-align: center;
}
/* line 281, ../../../app/stylesheets/admin.scss */
table tr th {
  background-color: #e4e4e4;
  color: #333333;
  padding: 5px 0;
}
/* line 286, ../../../app/stylesheets/admin.scss */
table tr td {
  padding-top: 4px;
  vertical-align: top;
  padding-bottom: 2px;
}
/* line 291, ../../../app/stylesheets/admin.scss */
table tr .first_column {
  padding-left: 5px;
}
/* line 296, ../../../app/stylesheets/admin.scss */
table .border_bottom td {
  border-bottom: 1px solid #e4e4e4;
}
/* line 300, ../../../app/stylesheets/admin.scss */
table .odd {
  background-color: #f9f9f9;
}
/* line 303, ../../../app/stylesheets/admin.scss */
table .even {
  background-color: white;
}
/* line 306, ../../../app/stylesheets/admin.scss */
table .pagination_links {
  text-align: center;
  background-color: #e4e4e4;
  height: 26px;
}
/* line 311, ../../../app/stylesheets/admin.scss */
table .pagination_links .pagination_info {
  float: right;
  padding-right: 12px;
  padding-top: 2px;
}
/* line 317, ../../../app/stylesheets/admin.scss */
table .actions {
  font-size: .9em;
  margin-top: 2px;
}
/* line 320, ../../../app/stylesheets/admin.scss */
table .actions form {
  float: left;
  margin-right: 6px;
}
/* line 323, ../../../app/stylesheets/admin.scss */
table .actions form input {
  padding: 1px 2px;
}

/* line 330, ../../../app/stylesheets/admin.scss */
.pagination a, .pagination span, .pagination em {
  padding: 3px 6px;
  border: 1px solid #BBBBBB;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px;
  background-color: #f9f9f9;
  text-decoration: none;
}

/* line 340, ../../../app/stylesheets/admin.scss */
#preferences span {
  font-size: 11px;
  font-style: italic;
  color: #777;
}

/* line 346, ../../../app/stylesheets/admin.scss */
.editable {
  margin: 10px 0;
}
/* line 348, ../../../app/stylesheets/admin.scss */
.editable label {
  width: 25%;
  display: block;
  float: left;
  text-align: right;
  padding: 4px 16px 0 0;
}
/* line 355, ../../../app/stylesheets/admin.scss */
.editable input {
  width: 35%;
}
/* line 358, ../../../app/stylesheets/admin.scss */
.editable textarea {
  width: 35.5%;
  height: 125px;
}
/* line 362, ../../../app/stylesheets/admin.scss */
.editable .check_box_field {
  float: left;
  width: 14px;
}

/* line 367, ../../../app/stylesheets/admin.scss */
.form_button {
  width: 140px;
  margin-left: 27%;
}

/* line 371, ../../../app/stylesheets/admin.scss */
#footer {
  clear: both;
}
