/* line 1, ../../../app/stylesheets/classes.scss */
body {
  background-color: #DCE6F4;
  height: 100%;
  font: 85% arial,sans-serif;
}

/* line 6, ../../../app/stylesheets/classes.scss */
.centered {
  text-align: center;
  margin: 0 auto;
}

/* line 10, ../../../app/stylesheets/classes.scss */
.centered_box {
  margin: 0 auto;
  width: 900px;
}

/* line 14, ../../../app/stylesheets/classes.scss */
.clear {
  clear: both;
}

/* line 17, ../../../app/stylesheets/classes.scss */
.bolded {
  font-weight: bold;
}

/* line 20, ../../../app/stylesheets/classes.scss */
.round {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

/* line 24, ../../../app/stylesheets/classes.scss */
.round_top {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
}

/* line 30, ../../../app/stylesheets/classes.scss */
.round_bottom {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

/* line 36, ../../../app/stylesheets/classes.scss */
.small_round {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 40, ../../../app/stylesheets/classes.scss */
.small_round_top {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

/* line 46, ../../../app/stylesheets/classes.scss */
.small_round_bottom {
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

/* line 52, ../../../app/stylesheets/classes.scss */
.medium_round {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/* line 56, ../../../app/stylesheets/classes.scss */
.medium_round_top {
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}

/* line 62, ../../../app/stylesheets/classes.scss */
.medium_round_bottom {
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}

/* line 68, ../../../app/stylesheets/classes.scss */
.awesome_button {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px;
  background: -moz-linear-gradient(center top, #f9f9f9, #e3e3e3) repeat scroll 0 0 transparent;
  border: 1px solid #BBBBBB;
  color: #000000;
  cursor: default;
  font: 70% arial,sans-serif;
  margin: 0;
  outline: medium none;
  padding: 3px 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 84, ../../../app/stylesheets/classes.scss */
ul li {
  list-style-type: none;
}
