<!DOCTYPE html>
<html>  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>
  <body>
    <p>Just wanted to let you know that your account has been unsuspended. Play nice to avoid it getting suspended again in the future.</p>
    <p>Login at <%= @url %>.</p>
  </body>
</html>