<!DOCTYPE html>
<html>  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>
  <body>
    <p>You have failed to play nicely with others. This is your notification letting you know your account has been suspended.</p>
    <p>You will need to speak with an admin to get your account unsuspended. <%= @url %>
  </body>
</html>