<!DOCTYPE html>
<html>  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>
  <body>
    <h1>Oh noes, you forgot your password?</h1>
    <p>Simply click the link below to reset your password.</p>
    <p><%= @url %></p>
  </body>
</html>