<div class="boxed">
  <h3>Listing Your Favorites</h3>
</div>

<% if @posts.blank? %>
  <div class="boxed">
    <p>You haven't favorited any posts yet.</p>
  </div>
<% else %>
  <%= render @posts %>
  <div id="paginate">
    <%= will_paginate @posts %>
    <div class="page_entries">
      <%= page_entries_info @posts %>
    </div>
  </div>
<% end %>