body {
	background-color:#c9d8ed;
	height:100%;
	font:90% arial,sans-serif;
}
.clear {
	clear:both;
}

.centered {
    margin:0 auto;
    width:900px;
}
#content {
	overflow:auto;
}
#footer {
	padding-bottom:10px;
}
#footer p {
	margin-bottom:0;
}
.rounded_box {
	margin:4px 0;
    padding:6px;
/*    background-color:#f3f3f3;*/
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
	overflow:auto;
}
.rounded_top {
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
}
.rounded_bottom {
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
}
.box_background {
	background-color:#f3f3f3;
}
#user_bar {
	float:right;
	font-size:.8em;
}
#user_bar .login_field {
	float:left;
	padding:0 3px;
}
#user_bar .login_field input{
	width:90px;
}
#login_bottom {
	clear:both;
}
#user_bar .login_field #user_session_submit {
	margin-top:18px;
	width:50px;
}

/*** Header ***/
#header {
	padding-top:5px;
}
#header h1 {
	margin-top:0;
	margin-bottom:2px;
	font-size:1.2em;
}
#navigation {
	overflow:auto;
	margin:2px 0 6px 0;
	font-size:.9em;
}
#navigation li {
	float:left;
	padding:4px 8px;
	list-style-type:none;
}
#navigation li.flush_left { padding-left:0px; margin-left:0px;}
#header h1 a, #header h1 a:visited, #navigation li a, #navigation li a:visited {
	color:#222;
}
#main {
	width:79%;
	float:left;
	padding:0 8px 8px 0;
}
#main h1 {
	margin:.5em 0;
}
#side_bar {
	width:18%;
	float:left;
}
#side_bar .side_box {
	margin:3px 0 5px;
	padding:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background-color:#efefef;
	border:1px solid #bbb;
}
#side_bar .side_box.top_box {
	margin-top:0;
}
#side_bar form p {
	margin-bottom:5px;
}
#side_bar input[type="text"], #side_bar input[type="password"] {
	width:96%;
}
#side_bar input[type="submit"], #comment_submit {
	float:right;
}
.side_box ul {
	margin:.5em;
}
.side_box ul li {
	list-style-type:none;
}

/*** Posts ***/
#post_body {
    width:98%;
    height:150px;
}
#new_post .actions {
	float:right;
	margin:12px 10px 8px 0;
}
#post_category {
	margin-bottom:8px;
}
.post {
    margin:0 0 13px 0;
}
.post p {
	font-size:15px;
	margin-bottom:0;
	padding-bottom:8px;
}
.post .post_header {
	background-color:#A3BEE1;
	background:-moz-linear-gradient(center top , #A3BEE1, #7CA2D5) repeat scroll 0 0 transparent;
	height:1.55em;
	font:85% arial,sans-serif;
	padding:2px;
	border-top:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
}
.post .post_header div {
	padding:4px 4px 2px 4px;
}
.post .post_body, .post .post_footer {
	padding:4px;
}
.post .post_header .right_side {
	float:right;
	padding:0;
}
.post .post_header .left_side {
	float:left;
}

.post .post_body a {
	text-decoration:none;
}
.post .post_body a:visited,.post .post_body a:link {
	color:#000;
}
.post_footer {
	font-size:14px;
	overflow:auto;
}
.votes {
	float:right;
	
}
.votes p {
	font-size:13px;
	margin-bottom:2px;
}
#comments h4 {
    margin:0 0 4px;
	padding:4px;
	background-color:#efefef;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
	border:1px solid #bbb;
}
#comment_form {
    padding:6px;
    background-color:#efefef;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
    margin:5px 0;
	border:1px solid #bbb;
}
.comment {
    margin:4px 0;
    padding:6px;
    background-color:#efefef;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
	border:1px solid #bbb;
}
.comment p {
	margin-bottom:4px;
}
.comment_timestamp {
	font-size:12px;
	margin-left:12px;
}
.comment_footer {
	padding-bottom:4px;
}
.comment_count {
	margin-left:32px;
}
#comment_body {
    width:99%;
    height:55px;
}
#new_comment p {
	margin-bottom:4px;
}
#post_form,#post_form_h1, .main_top {
	margin:4px 0;
    padding:6px;
    background-color:#efefef;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.reply_link {
	float:right;
}
.child_comment {
	background-color:#efefef;
	margin-left:35px;
	margin-right:10px;
	padding:6px;
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
}
.first_child {
	margin-top:-2px;
}
.last_child {
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom:1px solid #bbb;
}
.child_comment p {
	border-left:3px solid #ccc;
	padding-left:4px;
	margin-bottom:2px;
}

.main_top {
	overflow:auto;
	margin-top:0;
	border:1px solid #bbb;
}
#main .main_top h1 {
	float:left;
	margin:3px 0 0 0;
	padding:0;
}
.main_top span {
	float:right;
	margin-top:5px;
	margin-right:3px;
}
#main #post_form_h1 {
	margin-top:0;
}
.edit_user .field {
	margin:0 0 12px 0;
}
.edit_user label {
	float:left;
	width:190px;
	text-align:right;
	padding:2px 8px 0 0;
}
.edit_user input[type="submit"] {
	margin-left:315px;
	font-size:13px;
}
.pagination {
	float:right;
}
#rem_submit {
	font-size:.8em;
}
#new_user_session div {
	margin-bottom:4px;
}
.pagination a, .pagination span {
	padding:2px 7px;
	background-color:#c9d8ed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.pagination_div {
	font-size:13px;
}
#account_box h5 span {
	float:right;
	font-size:.8em;
}
.pagination .disabled, .pagination em, .pagination a {
	background-color:#F3f3f3;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.pagination em {
	padding:2px 7px;
	font-style:normal;
}
#login_bottom {
	font-size:.8em;
	margin-top:6px;
}
#user_session_remember_me {
	margin-right:4px;
}
#user_session_submit {
	font-size:.8em;
}
form .field {
	margin:0 0 6px;
}
form .field label {
	float:left;
	width:175px;
	margin:0 0 6px;
	text-align:right;
	padding:4px 8px 0 0;
}
#main h3 {
	margin:6px 0 8px 16px;
}
#new_user .actions {
	margin:8px 0 16px 195px;
}

.votes .button_to {
	float:right;
}
.votes .button_to input,
.pagination .disabled,
.pagination em,
.pagination a, .awesome_button {
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px;
	background:-moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	border:1px solid #BBBBBB;
	color:#000000;
	cursor:default;
	font:70% arial,sans-serif;
	margin:0 8px 0 0;
	outline:medium none;
	padding:3px 6px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
}
.button_to div input.up_vote_button {
	margin:0;
}
input.awesome_button {
	padding:2px 4px;
	margin-right:0;
}
.login_stuff {
	overflow:auto;
}

.post_body {
	background:-moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
}
.post_footer {
	background:-moz-linear-gradient(center top , #E3E3E3, #F9F9F9) repeat scroll 0 0 transparent;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
	border-bottom:1px solid #BBBBBB;
}
.pagination .disabled,
.pagination em,
.pagination a {
	margin:0;
/*	padding:3px 5px;*/
}
.votes .button_to input:hover,.pagination a:hover {
	cursor:pointer;
}
#footer ul {
	margin:12px 0;
	overflow:auto;
}
#footer ul li {
	list-style-type:none;
	display:block;
	float:left;
	margin-right:24px;
}
#footer ul li a {
	color:#555;
	text-decoration:none;
	font-size:80%;
}
#page_box {
	margin-top:0;
	border:1px solid #bbb;
}
#page_box div {
	padding:4px;
}