body {
	background-color:#c9d8ed;
	height:100%;
}
.clear {
	clear:both;
}

.centered {
    margin:0 auto;
    width:900px;
}
#content {
	overflow:auto;
}
#footer {
	padding-bottom:10px;
}
#footer p {
	margin-bottom:0;
}
.rounded_box {
	margin:4px 0;
    padding:6px;
    background-color:#f3f3f3;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
	overflow:auto;
}

#user_bar {
	float:right;
	font-size:.8em;
}
#user_bar .login_field {
	float:left;
	padding:0 3px;
}
#user_bar .login_field input{
	width:90px;
}
#login_bottom {
	clear:both;
}
#user_bar .login_field #user_session_submit {
	margin-top:18px;
	width:50px;
}

/*** Header ***/
#header {
	padding-top:5px;
}
#header h1 {
	margin-top:0;
	margin-bottom:2px;
	font-size:1.2em;
}
#navigation {
	overflow:auto;
	margin:2px 0 6px 0;
	font-size:.9em;
}
#navigation li {
	float:left;
	padding:4px 8px;
	list-style-type:none;
}
#navigation li.flush_left { padding-left:0px; margin-left:0px;}
#header h1 a, #header h1 a:visited, #navigation li a, #navigation li a:visited {
	color:#222;
}
#main {
	width:79%;
	float:left;
	padding:0 8px 8px 0;
}
#main h1 {
	margin:.5em 0;
}
#side_bar {
	width:18%;
	float:left;
}
#side_bar .side_box {
	margin:3px 0 5px;
	padding:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background-color:#efefef;
}
#side_bar .side_box.top_box {
	margin-top:0;
}
#side_bar form p {
	margin-bottom:5px;
}
#side_bar input[type="text"], #side_bar input[type="password"] {
	width:96%;
}
#side_bar input[type="submit"], #comment_submit {
	float:right;
}
.side_box ul {
	margin:.5em;
}
.side_box ul li {
	list-style-type:none;
}

/*** Posts ***/
#post_body {
    width:98%;
    height:250px;
}
.post {
    margin:0 0 13px 0;
}
.post p {
	font-size:15px;
}
.post_footer {
	font-size:14px;
}
.votes {
	float:right;
}
.votes p {
	font-size:13px;
	margin-bottom:2px;
}
#comments h3 {
    margin:0 0 4px;
	padding:4px;
	background-color:#efefef;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
}
#comment_form {
    padding:6px;
    background-color:#efefef;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
    margin:5px 0;
}
.comment {
    margin:4px 0;
    padding:6px;
    background-color:#efefef;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.comment p {
	margin-bottom:4px;
}
.comment_timestamp {
	font-size:12px;
	margin-left:12px;
}
.comment_footer {
	padding-bottom:4px;
}
#comment_body {
    width:99%;
    height:55px;
}
#new_comment p {
	margin-bottom:4px;
}
#post_form,#post_form_h1, .main_top {
	margin:4px 0;
    padding:6px;
    background-color:#efefef;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.reply_link {
	float:right;
}
.child_comment {
	background-color:#efefef;
	margin-left:35px;
	margin-right:15px;
	padding:6px;
}
.first_child {
	margin-top:-4px;
}
.last_child {
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}
.child_comment p {
	border-left:3px solid #ccc;
	padding-left:4px;
	margin-bottom:2px;
}

.main_top {
	overflow:auto;
	margin-top:0;
}
#main .main_top h1 {
	float:left;
	margin:3px 0 0 0;
	padding:0;
}
.main_top span {
	float:right;
	margin-top:5px;
	margin-right:3px;
}
#main #post_form_h1 {
	margin-top:0;
}
.edit_user .field {
	margin:0 0 12px 0;
}
.edit_user label {
	float:left;
	width:190px;
	text-align:right;
	padding:2px 8px 0 0;
}
.edit_user input[type="submit"] {
	margin-left:315px;
	font-size:13px;
}
.pagination {
	float:right;
}
#rem_submit {
	font-size:.8em;
}
#new_user_session div {
	margin-bottom:4px;
}
.pagination a, .pagination span {
	padding:2px 7px;
	background-color:#c9d8ed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.pagination_div {
	font-size:13px;
}
#account_box h5 span {
	float:right;
	font-size:.8em;
}
.pagination .disabled, .pagination em, .pagination a {
	background-color:#F3f3f3;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.pagination em {
	padding:2px 7px;
	font-style:normal;
}
#login_bottom {
	font-size:.8em;
	margin-top:6px;
}
#user_session_remember_me {
	margin-right:4px;
}
#user_session_submit {
	font-size:.8em;
}