<div class="rounded_box">
  <h3>Forgot your password?</h3>
  <p>Enter your email address below to receive a password reset link</p>
  <%= form_for password_reset_url do |f| %>
    <div>
      <label>Email Address:</label>
      <%= text_field_tag :email %>
    </div>
    <div>
      <%= f.submit "Send password reset link!" %>
    </div>
  </div>
</div>