<div class="boxed">
  <h3><%= @user.login %></h3>
</div>
<div id="user_profile" class="boxed">
  <ul>
    <li><span class="bolded">Number of posts:</span> <%= @user.number_of_posts %></li>
    <li><span class="bolded">Number of comments:</span> <%= @user.number_of_comments %></li>
  </ul>
</div>