$darkgrey: #464646;
$darkgrey2: #333;
$lightgrey: #E4E4E4;
$lightgrey2: #BBB;
$lightestgrey: #F9F9F9;
$blue: #21759B;
$orange: #D54E21;
$white: #FFF;
$off-white: #f9f9f9;
$black: #000;
$nav-width: 145px;
body {
	background-color: $lightestgrey;
	font-size:14px;
}
h1 { font-size:1.6em; }
h2 { font-size:1.4em; }
h3 { font-size:1.3em; }
h4 { font-size:1.2em; }
h5 { font-size:1.1em; }
a, a:visited { color:$blue; }
a:hover, a:active, a:focus { color:$orange; }
.ltr_border {
	border-left:1px solid $lightgrey2;
	border-right:1px solid $lightgrey2;
	border-top:1px solid $lightgrey2;
}
.lr_border {
	border-left:1px solid $lightgrey2;
	border-right:1px solid $lightgrey2;
}
.lbr_border {
	border-left:1px solid $lightgrey2;
	border-right:1px solid $lightgrey2;
	border-bottom:1px solid $lightgrey2;
}
.full_border {
	border:1px solid $lightgrey2;
}
.add_margin {
	margin-bottom:12px;
}
.boxed {
	background-color:$lightgrey;
	border:1px solid $lightgrey2;
}
.full_box {
	padding:7px;
}
.good_forms {
	form {
		div {
			margin:8px 0;
			label {
				width:15%;
				float:left;
				text-align:right;
				padding-right:6px;
			}
		}
		.submit_button {
			margin-left:16%;
			background:-moz-linear-gradient(center top , #007DAA, #00698F) repeat scroll 0 0 transparent;
			color: $white;
			border:1px solid #00a1db;
			padding:4px 5px;
		}
	}
	.user_actions {
		
		form {
			float:left;
			margin-right:8px;
		}
	}
}
#top_bar {
	background-color: $darkgrey;
	padding:8px;
	overflow:auto;
	a {
		color: $lightgrey;
	}
	h1 {
		float:left;	
		a {
			color:#ddd;
		}
		a:visited {
			color:#ddd;
		}
	}
	#info {
		float:right;
	}
}

#navigation {
	margin:0;
	padding:8px;
	width: $nav-width;
	float:left;
	a {
		display:block;
		padding:6px;
	}
	li {
		background-color:$lightgrey;
		padding:0;
		ul {
			li {
				list-style-type:none;
				background-color: $off-white;
				border-top:1px solid $lightgrey;
				a {
					padding:2px 0 2px 10px;
				}
			}
		}
	}
	.lonely_link {
		border:1px solid $lightgrey2;
	}
	.first_link {
		border-left:1px solid $lightgrey2;
		border-right:1px solid $lightgrey2;
		border-top:1px solid $lightgrey2;
		border-bottom:1px solid $lightgrey2;
	}
	.inside_link {
		border-left:1px solid $lightgrey2;
		border-right:1px solid $lightgrey2;
		border-bottom:1px solid $lightgrey2;
		border-top:1px solid $lightestgrey;
	}
	.last_link {
		border-left:1px solid $lightgrey2;
		border-right:1px solid $lightgrey2;
		border-bottom:1px solid $lightgrey2;
		border-top:1px solid $lightestgrey;
	}
	.navigation_separator {
		background-color:transparent;
		height:12px;
	}
}

#content {
	margin:0 0 0 $nav-width + 20;
	padding:8px;
	overflow:auto;
}
#main_content {
	width:100%;
	float:left;
	clear:left;
	margin-right:-400px;
	#main_content_body, #comments, #user_posts, #user_activity {
		margin-right:260px;
		margin-bottom:12px;
	}
	table {
		.author_row {
			width:30%;
		}
	}
	form {		
		#post_body {
			width:99%;
			height:125px;
		}
		#box_footer {
			overflow:auto;
			input {
				float:right;
				background:-moz-linear-gradient(center top , #007DAA, #00698F) repeat scroll 0 0 transparent;
				color: $white;
				border:1px solid #00a1db;
			}
		}
	}
}
.new_obj_link {
	float:right;
}
#third_column {
	width:245px;
	float:right;
	position:relative;
	clear:right;
	display:block;
}
#post_main {
	#post_header {
		background-color: $lightgrey;
		padding:4px;
		select, label {
			float:right;
		}
		label {
			padding-top:2px;
			padding-right:4px;
		}
	}
	#body {
		background-color: $lightgrey;
		textarea {
			margin-left:3px;
		}
	}
	#box_footer {
		background-color: $lightgrey;
		padding:4px;
	}
}
.box_header {
	background-color: $lightgrey;
	padding:6px;
}
.box_body {
	padding:6px;
}
.box_footer {
	padding:6px;
}
.tc_box {
	margin:0 0 12px 0;
	font-size:.9em;
	.tc_body {
		padding:6px;
		overflow:auto;
		ul {
			li {
				list-style-type:none;
				margin-left:0;
				input {
					float:left;
					margin-right:3px;
				}
			}
			#publish_form {
				input {
					float:none;
				}
				.awesome_button {
					float:right;
					margin-top:5px;
				}
				#date_date, #date_hour, #date_minute {
					width:1.4em;
				}
				#date_year {
					width:2.8em;
				}
			}
		}
		#remove_shortened_url {
			border:none;
			background: url("/images/icons/decline.png") no-repeat center center;
			text-indent:-9999px;
			float:right;
			height:16px;
			width:16px;
		}
	}
	.tc_footer {
		padding:6px;
	}
	#activity_summary {
		ul {
			li {
				list-style-type:disc;
				margin-left:14px;
			}
		}
	}
}

table {
	width:100%;
	border:1px solid $lightgrey2;
	caption {
		margin-left:8px;
		background-color: $lightgrey2;
		padding:3px;
		width:16%;
		text-align:center;
	}
	tr {
		th {
			background-color:$lightgrey;
			color: $darkgrey2;
			padding:5px 0;
		}
		td {
			padding-top:4px;
			vertical-align:top;
				padding-bottom:2px;
		}
		.first_column {
			padding-left:5px;
		}
	}
	.border_bottom {
		td {
			border-bottom:1px solid $lightgrey;
		}
	}
	.odd {
		background-color:$off-white;
	}
	.even {
		background-color:$white;
	}
	.pagination_links {
		text-align:center;
		background-color:$lightgrey;
		height:30px;
		.pagination {
			margin-top:3px;
		}
		.pagination_info {
			float:right;
			padding-right:12px;
			padding-top:2px;
		}
	}
	.actions {
		font-size:.9em;
		margin-top:2px;
		form {
			float:left;
			margin-right:6px;
			input {
				padding:1px 2px;
			}
		}
	}
	.child_column {
		background-color:#f9f9f4;
		.first_column_child {
			padding-left:6px;
			.wtf_div {
				padding-left:22px;
				background: url("/images/icons/up_arrow.png") no-repeat center left;
			}
		}
		td {
			border-bottom:1px solid $lightgrey;
		}
	}
}
.pagination {
	a, span, em {
		padding:3px 6px;
		border:1px solid #BBBBBB;
		-moz-border-radius:3px 3px 3px 3px;
		-webkit-border-radius:3px;
		background-color: $off-white;
		text-decoration:none;
	}
}
#preferences {
	span {
		font-size:11px;
		font-style:italic;
		color:#777;
	}
}
.editable {
	margin:10px 0;
	label {
		width:25%;
		display:block;
		float:left;
		text-align:right;
		padding:4px 16px 0 0;
	}
	input {
		width:35%;
	}
	textarea {
		width:35.5%;
		height:125px;
	}
	.check_box_field {
		float:left;
		width:14px;
	}
	#page_body {
		width:80%;
		height:300px;
	}
}
.form_button {
	width:140px;
	margin-left:27%;
}
#footer {
	clear:both;
}
/*** buttons ***/
#delete_button {
	float:right;
}
.regular_button {
	margin-bottom:4px;
}
.last_button {
	margin-bottom:0;
}