body {
	background-color:#DCE6F4;
	height:100%;
	font:85% arial,sans-serif;
}
.centered {
	text-align:center;
	margin:0 auto;
}
.centered_box {
	margin:0 auto;
	width:900px;
}
.clear {
	clear:both;
}
.bolded {
	font-weight:bold;
}
.round {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.round_top {
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
}
.round_bottom {
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
}
.small_round {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.small_round_top {
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
}
.small_round_bottom {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
}
.medium_round {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.medium_round_top {
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
}
.medium_round_bottom {
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
}
.awesome_button {
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px;
	background:-moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	border:1px solid #BBBBBB;
	color:#000000;
	cursor:default;
	font:70% arial,sans-serif;
	margin:0;
	outline:medium none;
	padding:3px 6px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
}
ul {
	li {
		list-style-type:none;
	}
}