$darkyellow: #F2DD8C;
$lightyellow: #FFF5CC;
$darkblue: #B8E2FB;
$lightblue: #E8F6FF;
$lightgreen: #EAF7D9;
$darkgreen: #BBDF8D;
$darkred:#FFAEAE;
$lightred:#FEEBEB;

.msg {
	padding:8px;
	margin-bottom:2px;
	-moz-border-radius:8px;-webkit-border-radius:8px;
}
.warning {
	border:2px solid $darkyellow;
	background-color: $lightyellow;
}
.info {
	border:2px solid $darkblue;
	background-color: $lightblue;
}
.notice {
	border:2px solid $darkgreen;
	background-color: $lightgreen;
}
.error {
	border:2px solid $darkred;
	background-color: $lightred;
}
#errorExplanation {
	-moz-border-radius:8px;-webkit-border-radius:8px;
	padding:6px;
	margin-bottom:6px;
	border:2px solid $darkred;
	background-color: $lightred;
	
	h2 {
		margin:4px 0;
	}
	ul {
		margin:.5em .5em .5em 2em;
	}
}
.fieldHasErrors {
	border:2px solid $darkred;
}
body {
	background-color:#DCE6F4;
	height:100%;
	font:85% arial,sans-serif;
}
.centered {
	text-align:center;
	margin:0 auto;
}
.centered_box {
	margin:0 auto;
	width:900px;
}
.clear {
	clear:both;
}
.bolded {
	font-weight:bold;
}
.round {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.round_top {
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
}
.round_right {
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
}
.round_left {
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
}
.round_bottom {
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
}
.small_round {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.small_round_top {
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
}
.small_round_bottom {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
}
.small_round_left {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
}
.medium_round {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.medium_round_top {
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
}
.medium_round_bottom {
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
}
.awesome_button {
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px;
	background:-moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	border:1px solid #BBBBBB;
	color:#000000;
	cursor:default;
	font:70% arial,sans-serif;
	margin:0;
	outline:medium none;
	padding:3px 6px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
}
.positive_awesome_button {
	background-color:$lightgreen;
	background:-moz-linear-gradient(center top , #F9F9F9, #DEEAAE) repeat scroll 0 0 transparent;
	border:1px solid $darkgreen;
	color:#529214;
	cursor:default;
	font:70% arial,sans-serif;
	margin:0;
	outline:medium none;
	padding:3px 6px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
}
.negative_awesome_button {
	background:#fbe3e4;
	background:-moz-linear-gradient(center top , #fbe3e4, #F8CECF) repeat scroll 0 0 transparent;
	border:1px solid #fbc2c4;
	color:#d12f19;
	cursor:default;
	font:70% arial,sans-serif;
	margin:0;
	outline:medium none;
	padding:3px 6px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
}
ul {
	li {
		list-style-type:none;
	}
}