<div class="post_main">
<div id="post_body_header" class="rounded_top">
  By <%= admin_post_creator_link(@post) %>
</div>

<div id="post_body">
  <%= f.label :body, "Body:" %>
  <%= f.text_area :body %>
</div>
  <div id="post_footer">
    
  </div>
</div>

