<% form_for([:admin,@category], :html => { :class => 'jNice' }) do |f| %>
  <fieldset>
    <legend>Category</legend>
  <%= f.error_messages %>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
