<h3>Editing Category</h3>

<%= form_for([:admin,@category]) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<div class="form_button">
  <%= f.submit "Update", :class => 'awesome_button submit_button' %>
</div>
<% end %>