<% logger.info { "*** wtf " } %>
<div id="new_post_box" class="boxed full_box user_form">
<h1><%= @preferences[:submit_post_header_text] %></h1>
<% unless @preferences[:submit_post_text].blank? %>
  <div id="submit_post_text">
    <%= raw @preferences[:submit_post_text] %>
  </div>
<% end %>
<%= render 'form' %>
</div>
